@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Prueba Fundación Carlos Slim</strong></h1>
    <br />
    <h3>Análisis de una base de datos (Northwind).</h3>
    <h3> Creación de un API para el CRUD (Create, Read, Update, Delete), para al menos 2 tablas de la base de datos.</h3>
    <h3>Reporte en JSON de la tabla de "orders" con la información de "orderdetails" , "products" y "suppliers".</h3>
</div>
